.checked{
    color:orange;
}
.a{
width: 100%;
height: auto;}
body{

background-size: cover;
background-color: ecb8a5;
}
span.a{
                font-size: 40px;
                font-family: Georgia, serif;;
                color:white ;
            }
span.b{
    color:461220;
    font-family:courier;
}
div.topnav{
    background-color:7b435b;
}
input{
    position:relative;
    left: 335px;
    width:250px;
    height:33px;
    bottom: 7px;
}
img.img{
    position:relative;
    right:8px;
    width:35px;
    height:38px;
    top: 4px;
}
img.img:hover{
    opacity:50%;
}
a.sub{
    text-decoration:none;
    color: white;
    font-size: 40px;
    padding-left: 40px;
}
a.sub:hover{
    opacity:50%;
    position:relative;
}
img.h1{
    width: 228px;
    height: 37px;
    padding-top:6px;
}
table tr td a:hover p img{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
button{
    position: relative;
    left: 345px;
    cursor: pointer;
    width:35px ;
    height: 35px;
    background-color:7b435b ;
    border: none;
    top: 4px;
}